{% extends 'base.html.twig' %}

{% block body_content %}
<h1>Ajouter evaluation</h1>
<form method="POST">
    zaezae :<input type="range" name="commentaire" id=""><br>
Commentaire :<input type="text" name="commentaire" id=""><br>
Note :<input type="text" name="note" id=""> <br>
Note Conducteur :<input type="text" name="conducteur" id=""><br>
Note Confort :<input type="text" name="confort" id=""><br>
 Note proprete :<input type="text" name="proprete" id=""><br>
Rapport qualite prix :<input type="text" name="rapport" id=""><br>
    <input type="submit" value="submit">




    
</form>
{% endblock %}